<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">Comming Soon</div>
    <!-- form -->
    <!-- <form class="validate-form">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center mb-2">
            <i data-feather="link" class="font-medium-3"></i>
            <h4 class="mb-0 ml-75">Social Links</h4>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-twitter">Twitter</label>
            <input
              type="text"
              [(ngModel)]="
                data.accountSetting.social.socialLinks.twitter
              "
              id="account-twitter"
              name="account-twitter"
              class="form-control"
              placeholder="Add link"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-facebook">Facebook</label>
            <input
              type="text"
              [(ngModel)]="
                data.accountSetting.social.socialLinks.facebook
              "
              id="account-facebook"
              name="account-facebook"
              class="form-control"
              placeholder="Add link"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-google">Google+</label>
            <input
              type="text"
              [(ngModel)]="
                data.accountSetting.social.socialLinks.google
              "
              id="account-google"
              name="account-google"
              class="form-control"
              placeholder="Add link"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-linkedin">LinkedIn</label>
            <input
              type="text"
              [(ngModel)]="
                data.accountSetting.social.socialLinks.linkedIn
              "
              id="account-linkedin"
              name="account-linkedin"
              class="form-control"
              placeholder="Add link"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-instagram">Instagram</label>
            <input
              type="text"
              [(ngModel)]="
                data.accountSetting.social.socialLinks.instagram
              "
              id="account-instagram"
              name="account-instagram"
              class="form-control"
              placeholder="Add link"
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-quora">Quora</label>
            <input
              type="text"
              [(ngModel)]="
                data.accountSetting.social.socialLinks.quora
              "
              id="account-quora"
              name="account-quora"
              class="form-control"
              placeholder="Add link"
            />
          </div>
        </div>

        <div class="col-12">
          <hr class="my-2" />
        </div>

        <div class="col-12 mt-1">
          <div class="d-flex align-items-center mb-3">
            <i data-feather="user" class="font-medium-3"></i>
            <h4 class="mb-0 ml-75">Profile Connections</h4>
          </div>

          <div class="row">
            <div class="col-6 col-md-3 text-center mb-1">
              <p class="font-weight-bold">Your Twitter</p>
              <div class="avatar mb-1">
                <span class="avatar-content">
                  <img
                    [src]="
                      data.accountSetting.social.connections
                        .twitter.profileImg
                    "
                    alt="avatar img"
                    width="40"
                    height="40"
                  />
                </span>
              </div>
              <p class="mb-0">
                {{
                  data.accountSetting.social.connections.twitter
                    .id
                }}
              </p>
              <a href="javascript:void(0)">Disconnect</a>
            </div>
            <div class="col-6 col-md-3 text-center mb-1">
              <p class="font-weight-bold mb-2">Your Facebook</p>
              <button
                class="btn btn-outline-primary"
                rippleEffect
              >
                Connect
              </button>
            </div>
            <div class="col-6 col-md-3 text-center mb-1">
              <p class="font-weight-bold">Your Google</p>
              <div class="avatar mb-1">
                <span class="avatar-content">
                  <img
                    [src]="
                      data.accountSetting.social.connections
                        .google.profileImg
                    "
                    alt="avatar img"
                    width="40"
                    height="40"
                  />
                </span>
              </div>
              <p class="mb-0">
                {{
                  data.accountSetting.social.connections.google
                    .id
                }}
              </p>
              <a href="javascript:void(0)">Disconnect</a>
            </div>
            <div class="col-6 col-md-3 text-center mb-2">
              <p class="font-weight-bold mb-1">Your GitHub</p>
              <button
                class="btn btn-outline-primary"
                rippleEffect
              >
                Connect
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-primary mr-1 mt-1"
            rippleEffect
          >
            Save changes
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary mt-1"
            rippleEffect
          >
            Cancel
          </button>
        </div>
      </div>
    </form> -->
    <!--/ form -->
  </div>
</div>